<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Sentdex Analysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/static/images/dark/favicon.ico">

    <script
        src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
    <script
        src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
    <script
        src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js?hcode=be5162d915534272a57d0bb781d27f2b"></script>
    <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css?hcode=be5162d915534272a57d0bb781d27f2b"
        type="text/css" rel="stylesheet">
    <link
        href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css?hcode=be5162d915534272a57d0bb781d27f2b"
        type="text/css" rel="stylesheet">
    <style type="text/css">
        html,
        body,
        #container {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .myDiv {
            position: relative;
            z-index: 1;
        }

        .bg {
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: url(https://sentviz-twitter-emotion.azurewebsites.net/image/WordCloud1.png) center center;
            opacity: .9;
            background-repeat: no-repeat;
        }
    </style>
</head>

<header >
    <div class="navbar-header" style='float:left'>
        <a class="navbar-brand" rel="home" href="/" title="Sentdex Analysis">
            <img style="max-height:160px; max-width:100%; margin-top: -5px;" src="./image/logo.png">
        </a>
    </div>

    <div class="container" style='margin-left:60%'>
        <ul class="nav navbar-nav navbar-right">
            <ul class="nav nav-pills">
                <a href="/"><button type="button" class="btn btn-dark"
                        style=" margin-top: 38px; margin-bottom: 5px; height:35px; margin-right: 5px; margin-left: 15px">
                        <span class="glyphicon glyphicon-signal"></span> Home
                    </button></a>
                <a href="/add"><button type="button" class="btn btn-dark"
                        style=" margin-top: 38px; margin-bottom: 5px; height:35px;">
                        <span class="glyphicon glyphicon-king"></span> Add keyword
                    </button></a>
                <a href="../about"><button type="button" class="btn btn-dark"
                        style=" margin-top: 38px; margin-bottom: 5px; height:35px; margin-left: 5px; margin-right: 5px">
                        <span class="glyphicon glyphicon-globe"></span> About
                    </button></a>
                    <a href="../manual"><button type="button" class="btn btn-dark"
                        style=" margin-top: 38px; margin-bottom: 5px; height:35px; margin-left: 5px; margin-right: 5px">
                        <span class="glyphicon glyphicon-globe"></span> Help
                    </button></a>
            </ul>
        </ul>
    </div>
    <br><br>
</header>
<br>

<body class='body'>

    <div class="container">

        <div class='row'>
            <h1>SentViz 1.0

                User Manual</h1>
            <ol>
                <li style='font-size:20px;'>Introduction</li><br>
                <p>
                    Sentviz is a standalone web application, and it is a solution for Twitter emotion visualization. The
                    main requirement of the system automates the twitter emotion analyze and data visualization process.
                    This application can be used for many domains such as business marketing. This application has not
                    separate user such as admin and regular users.
                </p>
                <br>
                <li style='font-size:20px;'>User Interface</li>
                <ul>
                    <li><b>Home Page</b></li><br>
                    <div class='row'>
                        <div class='col-sm-5'>
                            <img src='../image/homepage.jpg'
                                width='400px'>
                        </div>
                        <div class='col-sm-7' style='text-align:justify;font-size:15px;'>
                            The first interface of the SentViz shows a summary of data in the system. A table and pie
                            chart used
                            to visualize the summary. The table shows all the keywords in the system and the total
                            number of
                            collected tweets. The pie chart gives a quick understanding of the amount of data gathered
                            for a
                            keyword.If user want to access to the result of a keyowrd ,user have to click on the
                            keyword.
                        </div>
                    </div>
                    <br>
                    <li><b>Add Keyword</b> </li>
                    <br>
                    <div class='row'>
                        <div class='col-sm-5'>
                            <img src='../image/addkeyword.jpg'
                                width='400px' height='200px'>
                        </div>
                        <div class='col-sm-7' style='text-align:justify;font-size:15px;'>
                            The user can add new keywords to the system. For this user access the add keyword form by
                            click on
                            Add Keyword button. Then enter the new keyword and click on the submit button. The duplicate
                            keywords can't add to the system; it will show an error message.
                        </div>

                        <li>Data Visualization Graphs</li>
                        <ol>
                            <li><b>Emotion Timeline</b></li>
                            <div class='row'>
                                <div class='col-sm-5'>
                                    <img src='../image/emotiontimeline.jpg'
                                        width='400px' height='200px'>
                                </div>
                                <div class='col-sm-7' style='text-align:justify;font-size:15px;'>

                                    User can select the time period which use to generate the various graphs. The
                                    default
                                    time
                                    period is seven days, and the user can choose 30 days, six months or 1 year. The
                                    emotion
                                    timeline shows the number of tweets for each emotion category with respect to the
                                    time.
                                    The
                                    bottom slider can use for enlarge any time period.
                                </div>
                            </div>
                            <li><b>Heat Map</b></li>
                            <div class='row'>
                                <div class='col-sm-5'>
                                    <img src='../image/heatmap.jpg'
                                        width='400px' height='200px'>
                                </div>
                                <div class='col-sm-7' style='text-align:justify;font-size:15px;'>
                                    The heatmap shows the analyzed tweets on the world map according to tweets' geo
                                    coordinates.
                                    This map shows each tweet in a small circle. That circle colors with predefined
                                    color to
                                    represent the emotion of the tweet. If the user moves the mouse on one of emotion in
                                    the
                                    top
                                    emotion pannel then all the circle which belongs that emotion will be
                                    highlighted.The
                                    content of
                                    the tweet can be viewd by move mouse pointer on the any circle on world map.
                                </div>
                            </div>
                            <li><b>Word Cloud</b></li>
                            <div class='row'>
                                <div class='col-sm-5'>
                                    <img src='../image/wordcloud.jpg'
                                        width='450px' height='400px'>
                                </div>
                                <div class='col-sm-7' style='text-align:justify;font-size:15px;'>
                                    <br>
                                    <br>
                                    The word cloud generates four images of emotions.Common words from the emotional
                                    regions
                                    angry,
                                    fear, sad, and happy are shown. Words that are more frequent are larger. Hover the
                                    mouse
                                    over a
                                    word to see how often it occurred.

                                </div>
                            </div>
                            <li><b>Tweet Board</b></li>
                            <div class='row'>
                                <div class='col-sm-5'>
                                    <img src='../image/Tweetvorad.jpg'
                                        width='300px' height='360px'>
                                </div>
                                <div class='col-sm-7' style='text-align:justify;font-size:15px;'>
                                    Tweet board shows the collection of 1000 tweets which contains the selected keyword.
                                    These
                                    tweets collect according to the user selected time period(7days,30 days, 6 months,
                                    1year).User
                                    can scroll to view all the tweets.
                                </div>
                            </div>
                        </ol>
                </ul>
            </ol>
        </div>


    </div>
</body>